/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
}
body {
    background-color: #e7f2fd;
    transition: all 0.5s ease;
}
body.dark {
    background-color: #333;
}
body.dark {
    --white-color: #333;
    --blue-color: #fff;
    --grey-color: #f2f2f2;
    --grey-color-light: #aaa;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    z-index: 1000;
    box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--blue-color);
}
.navbar img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.navbar_content i {
    cursor: pointer;
    font-size: 20px;
    color: var(--grey-color);
}
.sidebar {
    background-color: var(--white-color);
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 80px 20px;
    z-index: 100;
    overflow-y: scroll;
    box-shadow: 0 0 1px var(--grey-color-light);
    transition: all 0.5s ease;
}
.sidebar.close {
    padding: 60px 0;
    width: 80px;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.menu_content {
    position: relative;
}
.menu_title {
    margin: 15px 0;
    padding: 0 20px;
    font-size: 18px;
}
.sidebar.close .menu_title {
    padding: 6px 30px;
}
.menu_title::before {
    color: var(--grey-color);
    white-space: nowrap;
}
.menu_dahsboard::before {
    content: "Dashboard";
}
.menu_editor::before {
    content: "Editor";
}
.menu_setting::before {
    content: "Setting";
}
.sidebar.close .menu_title::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 18px;
    border-radius: 12px;
    background: var(--grey-color-light);
}
.menu_items {
    padding: 0;
    list-style: none;
}
.navlink_icon {
    position: relative;
    font-size: 22px;
    min-width: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
}
.navlink_icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 100px);
    left: -20px;
}
.navlink_icon:hover {
    background: var(--blue-color);
}
.sidebar .nav_link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--grey-color);
    white-space: nowrap;
    margin-bottom: 20px;
}
.sidebar.close .navlink {
    display: none;
}
.nav_link:hover {
    color: var(--white-color);
    background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
    background: var(--white-color);
}
.submenu_item {
    cursor: pointer;
}
.submenu_item .nav_link {
    margin-top: 5px;
    margin-left: 20px;
}
.submenu_item .nav_link:hover {
    background: var(--blue-color);
}
.submenu_item .nav_link:hover .navlink_icon {
    background: var(--blue-color);
}
.submenu {
    display: none;
}
.submenu.open {
    display: block;
}
.bottom_content {
    padding-top: 40px;
}
.bottom_content .bottom {
    padding: 6px 15px;
    cursor: pointer;
    position: relative;
}
.bottom_content .bottom::before {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% + 30px);
    left: -20px;
}
.bottom_content .expand_sidebar:hover {
    background: var(--blue-color);
}
.bottom_content .expand_sidebar:hover span {
    color: var(--white-color);
}
.bottom_content .expand_sidebar:hover i {
    color: var(--white-color);
}
.bottom_content .collapse_sidebar {
    display: none;
    padding-left: 20px;
}
.sidebar.close .collapse_sidebar {
    display: block;
}
.sidebar.close .collapse_sidebar:hover span {
    display: none;
}
.sidebar.close .collapse_sidebar:hover:before {
    content: "Expand";
    position: absolute;
    left: 20px;
}
.sidebar.close .collapse_sidebar:hover i {
    transform: rotate(180deg);
}
/* Pop-up Profil */
.profile_popup {
  display: none;
  position: absolute;
  top: 60px; /* Jarak dari atas navbar */
  right: 20px; /* Jarak dari sisi kanan */
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 220px; /* Lebar pop-up */
  text-align: left;
  z-index: 2000;
  font-size: 14px;
}

.profile_popup::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.profile_popup .profile_info p {
  margin: 0;
  padding: 5px 0;
  color: var(--grey-color);
}

.profile_popup .profile_info strong {
  color: var(--blue-color);
}


  
  @media screen and (max-width: 768px) {
    #sidebarOpen {
      font-size: 25px;
      display: block;
      margin-right: 10px;
      cursor: pointer;
      color: var(--grey-color);
    }
    .sidebar.close {
      left: -100%;
    }
    .search_bar {
      display: none;
    }
    .sidebar.close .bottom_content {
      left: -100%;
    }
    .sidebar {
      width: 280px;
    }
    .sidebar.close {
      width: 60px;
    }
    .nav_link span {
      display: inline-block;
    }
  }